* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;

}

master-div {
  display: flex;
}

h2 {
  margin: 1rem;
  color: #5A6F4C;



  filter: drop-shadow(5px 5px 10px #6F8D5B);
}



img {
  /* width: 100%; */

  height: auto;
  flex: 1;
  text-align: right;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 4rem;
  max-width: 600px;
  flex: 1;
}

.image {
  height: 40em;
  background-size: cover;
  width: auto;
  background-image: url('https://media.istockphoto.com/photos/colorful-vegetables-and-fruits-vegan-food-in-rainbow-colors-picture-id1284690585?s=612x612');
  background-position: 50% 50%;

}

.ye {
  background: #EBF2D5;
  box-shadow: inset 5px 5px 10px #3E6F00;
  border-radius: 50px;
}

h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  /* identical to box height, or 117% */

  letter-spacing: -1.34px;

  color: #5A6F4C;
}

input {
  height: 2rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #C8D798;
  box-shadow: 4px 5px 6px#C8D798;
  width: 385px;
  height: 60px;
}

.a {
  box-shadow: 4px 4px 4px #D7C9CA;
}

form h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 70px;
}

form .reg-btn {
  background-color: #C8D798;
  color: #fff;
  font-size: 17px;
}

.login-link {
  display: flex;
  justify-content: space-between;
  width: 385px;
}

.login-link span a {
  color: #C8D798;
}

.register-google {
  text-align: center;
  width: 385px;
  margin-top: 3rem;
}
