<div class="image">
    <h2>FarmerHut</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="ye">

<form #clForm="ngForm" (ngSubmit)="savecl(clForm)">
   
      <h1>Register as farmer</h1>
        <input type="text" name="fname" placeholder="First Name" ngModel required ><br>

        <input type="text" name="lname" placeholder="Last Name" ngModel required >
       
        <input type="text" name="mobilenumber" placeholder="Mobile Number" ngModel required >
       
            <input type="email" name="farmeremail" placeholder="Email" ngModel required >
           
                <input type="password" name="password" placeholder="Password" ngModel min="9" required>
           
                <input type="password" name="confirmpassword" placeholder="Confirm Password" ngModel min="9" required>
    
            <input type="text" name="businessname" placeholder="Business Name" ngModel required >
           
            <input type="text" name="speciality"placeholder="Speciality" ngModel required >
        
            
                <input type="submit" value="Save" [disabled]="!clForm.valid" class="reg-btn b">
    

<div class="register-google">
    <p>Register with</p>
    <p class="sign-google"><a href="">Sign in with Google</a></p>
    </div>
    <p class="login-link">Already have an account? <span><a [routerLink]="['/Farmerlog']" routerLinkActive="active"> Login Here </a></span> </p>   
</form>

</div>
<br>
<br>
<br>
</div> 